<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Toko Aisyah | <a href="/users/logout">Login</a></h1>
    <p>Menjual semua pakaian anak - anak</p>
  </body>
</html>
